$white: #FFF;
$dark-gray: #27282C;
$light-gray: #939395;
$main-green: #11B785;
$purple: #9D17C9;
$blue: #2C92CB;
$light-purple: #F330E0;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html{
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
